@import "assets/font/font.css";
@import "assets/css/normalize.css";
@import "assets/css/jquery.formstyler.css";
@import "assets/css/jquery.formstyler.theme.css";
@import "assets/slick/slick.css";
@import "assets/slick/slick-theme.css";
@import "assets/css/magnific-popup.css";
@import "assets/css/header.css";
@import "assets/css/furniture.css";
@import "assets/css/catalog.css";
@import "assets/css/home.css";
@import "assets/css/jquery.fancybox.css";
@import "assets/css/form.css";
@import "assets/css/gallery.css";
@import "assets/css/menu.css";
@import "assets/css/footer.css";
@import "assets/css/stocks.css";
@import "assets/css/sofa-bud.css";
@import "assets/css/about-us.css";
@import "assets/css/reviews.css";
@import "assets/css/contact.css";


