.page-catalog{
    margin: 25px 0 35px;
    position: relative;
}
.page-catalog__block{
    display: flex;
    flex-wrap: wrap;

}
.page-catalog__title{
    position: absolute;
    top: 5px;
    left: -100px;
}
.page-catalog__img{
    width: 50%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 343px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.page-catalog__img:hover:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    transition: 0.2s;

}
.page-catalog__img:hover .go-directory{
    transition: 0.2s;
    display: block;

}
.page-catalog__img .go-directory{
    position: absolute;
    margin: 0;
    z-index: 99;
    max-width: 287px;
    width: 100%;
    transition: 0.2s;
    display: none;
}
.page-catalog__small .page-catalog__img{
    width: 33.333333%;
    height: 229px;
}

.about-catalog-block{
    margin-top: 50px;
}
.about-catalog-block .page-catalog__img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    transition: 0.2s;
}
.about-catalog-block .page-catalog__img:hover:after{
    display: none;
}
.soft-wall-panels{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
.soft-wall-panels a{
    font-size: 36px;
    font-family: 'LATO-THIN';
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    transition: 0.3s
}
.soft-wall-panels a:hover{
    border-bottom: 1px solid #ffffff;
    transition: 0.3s
}
.popular-goods__content .might-interested__block{
    width: 50%;
}
.popular-goods__content .might-interested__img{
    height: 390px;
}
.popular-goods__main{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.popular-goods__main .might-interested__price {
    background-color: unset;
    width: 170px;
    margin: 0;
    z-index: 99;
    position: relative;
}
.popular-goods__main .might-interested__href{
    background-color: rgb(235, 235, 235);
    padding: 2px 10px;
    margin-top: -30px;
    min-height: 75px;

}
.popular-goods__main .might-interested__href a{
    margin: 0;
}

@media (max-width: 1380px){
    .page-catalog__title {
        left: -66px;
        width: 66px;
    }
    .popular-goods__content .might-interested__img {
        height: 320px;
    }
}
@media (max-width: 1300px) {
    .page-catalog__title {
        display: none;
    }
    .page-catalog__img {
        height: 298px;
    }
}
@media (max-width: 992px){
    .page-catalog__img {
        height: 219px;
    }
    .page-catalog__small .page-catalog__img {
        width: 33.333333%;
        height: 166px;
    }
    .popular-goods__main{
        flex-direction: column-reverse;
        align-items: center;
    }
    .popular-goods__main .might-interested__href{
        margin: 0;
        align-items: center;
    }

    .soft-wall-panels a {
        font-size: 30px;

    }
}
@media (max-width: 768px){
    .page-catalog__img {
        width: 100%;
        height: 319px;
    }
    .page-catalog__small .page-catalog__img {
        width: 50%;
        height: 220px;
    }
    .soft-wall-panels a {
        font-size: 26px;

    }
    .about-catalog-block {
        margin-top: 30px;
    }
    .popular-goods__content .might-interested__block {
        width: 100%;
    }
}
@media (max-width: 576px){
    .page-catalog__img {
        height: 220px;
    }
    .page-catalog__small .page-catalog__img {
        width: 100%;
        height: 220px;
    }
    .popular-goods__content .might-interested__img {
        height: 250px;
    }
    .soft-wall-panels a {
        font-size: 22px;
    }
}