#contact-specialist{
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.contact-specialist__main{
    padding: 115px 100px;
    display: flex;
    align-items: center;
    margin: 15px 0 50px;
}
.contact-specialist__block{
    background-color: rgba(255, 255, 255,0.141);
    max-width: 554px;
    width: 100%;
    height: 274px;
}
.contact-specialist__form {
    background-color: rgba(44, 81, 106,0.902);
    width: 100%;
    height: 100%;
    margin-top: -10px;
    margin-left: -10px;
    padding: 50px 60px;
}

.contact-specialist__reg{
    max-width: 320px;
    width: 100%;
    margin-left: 20px;
}
.contact-specialist__inp {
    margin-bottom: 15px;
    max-width: 312px;

    width: 100%;
}
.contact-specialist__inp input {
    background: unset;
    border: 1px solid rgba(255, 255, 255,0.561);
    width: 100%;
    height: 44px;
    font-size: 18px;
    font-family: 'LATO-LIGHT';
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    padding-left: 15px;
}
.contact-specialist__inp input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
.contact-specialist__btn button{
    border: 1px solid rgb(252, 182, 80);
    padding: 8px 3px;
    border-radius: 5px;
    font-family: 'Merriweather';
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    background: unset;
    position: relative;
    transition: 0.3s;
    font-size: 16px;
    color: rgb(252, 182, 80);
    max-width: 312px;
    width: 100%;
    height: 50px;
}
.contact-specialist__btn button:after{
    content: url('../img/col-href.png');
    position: absolute;
    top: 9px;
    right: -12px;
    width: 24px;
    transition: 0.3s;
}
.contact-specialist__btn button:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -1px;
    width: 1px;
    height: 16px;
    background: rgba(44, 81, 106,0.902);
    transition: 0.3s;
}

.contact-specialist__title {
    max-width: 457px;
    width: 100%;
    margin-left: -103px;
    margin-top: -13px;
}
.contact-specialist__title h3{
    font-size: 36px;
    font-family: 'LATO-BOLD';
    color: rgb(252, 182, 80);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;

}
.contact-specialist__title p{
    font-size: 16px;
    font-family: 'LATO-LIGHT';
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    margin-top: 25px;
}


@media (max-width: 1300px){
    .contact-specialist__main {
        padding: 80px 85px;
        margin: 15px 0 30px;
    }
    #contact-specialist {
        background-size: auto;
    }
}
@media (max-width: 1170px){
    .contact-specialist__main {
        padding: 70px 20px;
        margin: 15px 0 30px;
    }
}
@media (max-width: 992px){
    .contact-specialist__main {
        padding: 50px 30px;
        margin: 15px 0 30px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .contact-specialist__title {
        margin-left: 0;
        margin-top: 0;
    }
    .contact-specialist__title h3 {
        font-size: 32px;
    }
    .contact-specialist__title p {
        margin-top: 15px;
    }
    .contact-specialist__block {
        max-width: 490px;
        height: 260px;
        margin-top: 40px;
    }

}
@media (max-width: 576px){
    .contact-specialist__main {
        padding: 40px 0px;
        margin: 15px 0 20px;
    }
    .contact-specialist__title h3 {
        font-size: 20px;
        text-align: center;
    }
    .contact-specialist__block {
        height: auto;
        margin-top: 25px;
    }
    .contact-specialist__form {
        padding: 35px 15px;
    }
    .contact-specialist__reg {

        margin-left: 0;
    }
    .contact-specialist__btn button {
        font-size: 13px;
        height: 45px;
    }

    .contact-specialist__title p{
        text-align: center;
    }
}