.block-gallery{
    margin: 45px 0;
}
.block-gallery__title{
    text-align: center;
}
.block-gallery__title h3{
    font-size: 36px;
    font-family: 'LATO-BOLD';
    color: rgb(21, 19, 20);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}
.block-gallery__title h3 strong{
    color: rgb(252, 182, 80);;
}

.block-gallery__main{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.block-gallery__info{
    width: 10%;
    padding: 15px;
}
.block-gallery__info a{
    width: 100%;
    height: 165px;
}
.block-gallery__info a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1700px){

    .block-gallery__info {
        width: 14.25%;
        padding: 10px;
    }
}
@media (max-width: 1300px){
    .block-gallery__info {
        width: 16.666666%;
        padding: 10px;
    }
}
@media (max-width: 1170px){
    .block-gallery__title h3 {
        font-size: 30px;
    }
    .block-gallery__info {
        width: 20%;
        padding: 10px;
    }

}
@media (max-width: 992px){
    .block-gallery {
        margin: 30px 0;
    }
    .block-gallery__title h3 {
        font-size: 28px;
    }
    .block-gallery__info {
        width: 25%;
    }
}
@media (max-width: 768px){
    .block-gallery__info {
        width: 33.333333%;
    }
}
@media (max-width: 576px){
    .block-gallery__info {
        width: 50%;
        padding: 5px;
    }
    .block-gallery__title h3 {
        font-size: 20px;
    }
}