.menu-down__main{
    margin-top: 20px;
    margin-bottom: 60px;
}

.menu-down>ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-down ul>li {
    margin: 0 4px;
    padding: 10px 20px 15px;
}


.menu-down>ul>li>a {
    font-size: 16px;
    font-family: 'LATO-BOLD';
    color: rgb(85, 85, 85);
    font-weight: bold;
    line-height: 1.371;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    position: relative;
}
.menu-down>ul>li>a:hover{
    border-bottom: 1px solid rgb(17,106,165);
    color: rgb(17,106,165);
}
.menu-down>ul .menu-down__active>a{
    border-bottom: unset;
}
.menu-down>ul .menu-down__active>a:hover{
    border-bottom: unset;
    color: rgb(85, 85, 85);
}
.menu-down>ul .menu-down__active:hover>a:after{
    display: block;
}
.menu-down>ul>li>a:after{
    content: url("../img/ar-fon.png");
    position: absolute;
    bottom: -27px;
    left: 5px;
    display: none;
}


.menu-down ul>li>ul {
    width: 100%;
    position: absolute;
    top: 90%;
    left: 0;
    display: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 999;
    background: rgb(236,236,236);


}
.menu-down ul li:hover ul {
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-down ul li ul li{
    margin: 10px 13px;
    padding: 0;

}
.menu-down ul li ul>li>a {
    width: 100%;
    position: relative;
    text-align: left;
    white-space: nowrap;
    transition: 0.4s;
    font-size: 14px;
    font-family: 'LATO-BOLD';
    color: rgb(85, 85, 85);
    font-weight: bold;
    line-height: 1.375;
    border-bottom: 1px solid transparent;

}
.menu-down ul li ul>li>a:hover{
    border-bottom: 1px solid rgb(17,106,165);
    color: rgb(17,106,165);

}


@media (max-width: 1200px){
    .menu-down>ul .menu-down__active:hover:after {

        left: 26%;
    }
}
@media (max-width: 992px){
    .menu-down ul>li {
        padding: 10px 14px 15px;
    }
    .menu-down>ul .menu-down__active:hover:after {
        left: 21%;
    }
}
@media (max-width: 768px){
    .menu-down ul>li {
        margin: 0 4px;
        padding: 10px 5px 15px;
    }
    .menu-down>ul>li>a{
        font-size: 14px;
    }
    .menu-down ul li ul li {
        margin: 9px 5px;
        padding: 0;
    }
}
@media (max-width: 576px){
    .menu-down>ul {

        flex-wrap: wrap;
    }
    .menu-down ul li:hover ul {
        top: 100%;

        flex-wrap: wrap;
    }
    .menu-down>ul .menu-down__active:hover:after {
        bottom: -14px;
        left: 26%;
    }
    .menu-down__main {
        margin-top: 0;
        margin-bottom: 50px;
    }
    .menu-down ul>li {
        margin: 0 4px;
        padding: 3px 5px 7px;
    }


}
