.feedback-customers{
    margin-top: 80px;
}

.feedback-customers .what-customers__href{
    margin: 0 ;
    text-align: center;
    width: 100%;

}
.feedback-customers__block{
    margin-top: 80px;
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.feedback-customers__block:nth-child(even){
    flex-direction: row-reverse;
}
.feedback-customers__box{
    max-width: 560px;
    width: 100%;

}
.feedback-customers__box .what-customers__video{
    width: 100%;
    margin: 0;
    background-color: rgb(44, 81, 106);
    box-shadow: 5.5px 9.526px 21px 0px rgba(0, 0, 0, 0.48);
}
.feedback-customers__box  .what-customers__revise{
    margin-top: 25px;
}
.feedback-customers__box  .what-customers__revise strong{
    font-size: 18px;
    font-family: 'LATO-BOLD';
    color: rgb(85, 85, 85);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}


.feedback-customers__text{
    max-width: 560px;
    width: 100%;
}
.feedback-customers__text strong{
    font-size: 18px;
    font-family: 'LATO-BOLD';
    color: rgb(85, 85, 85);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
}
.feedback-customers__text p{
    font-size: 18px;
    font-family: 'LATO-LIGHT';
    color: rgb(85, 85, 85);
    line-height: 1.2;
    text-align: left;
    margin-top: 15px;
}

.feedback-customers__img{
    width: 160px;
    height: 125px;
}
.feedback-customers__slider{
    margin-top: 49px;

}
.feedback-customers__slider .slick-dots {
    right: 50%;
    width: auto;
    bottom: -50px;
    transform: translateX(50%);
}
.feedback-customers__slider .slick-dots li button {
    border-radius: 2px;
    background-color: rgba(54, 54, 54,0.302);
    width: 16px;
    height: 16px;
}
.feedback-customers__slider .slick-dots li.slick-active button {
    background-color: rgb(252, 182, 80);
    color: rgb(252, 182, 80);
}
.feedback-customers__slider .slick-next {
    right: 160px;
    transform: rotate(-180deg);
    bottom: -48px;
}
.feedback-customers__slider .slick-prev {
    bottom: -62px;
    left: 160px;
}
.feedback-customers__slider .slick-prev,.feedback-customers__slider  .slick-next {
    top: auto;
    z-index: 999;
    width: 40px;
    height: 24px;
    background-image: url("../img/arrow-le78.png");
}
.feedback-customers__slider .slick-prev:hover,.feedback-customers__slider  .slick-next:hover{
    background-image: url("../img/arrow-le79.png");

}
.feedback-customers__slider .slick-prev:hover{
    transform: rotate(-180deg);
    bottom: -50px;
}
.feedback-customers__slider  .slick-next:hover{
    transform: rotate(0deg);
}





.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    overflow: auto;
    -webkit-transform: scaleY(0.01) scaleX(0);
    -ms-transform: scaleY(0.01) scaleX(0);
    transform: scaleY(0.01) scaleX(0);
    -webkit-animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    top: 0;
}

.modal.out {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@-webkit-keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}

@keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}

@-webkit-keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}

@keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}

.modal-content {
    padding: 80px 15px 30px 15px;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    visibility: visible;
    -webkit-animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.close{
    position: absolute;
    width: 22px;
    height: 22px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 20px;
    right: 30px;
    cursor: pointer;
}
.close::before,
.close::after{
    content: '';
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 3px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.close::before {
    width: 18px;
    height: 2px;
}
.close::after {
    width: 2px;
    height: 18px;
}
.close:hover:before,.close:hover:after{
    background-color: rgb(239, 71, 73);
}

.modal-content .contact-specialist__block{
    height: auto;
    max-width: 555px;
    width: 100%;
    position: relative;
}
.modal-content .contact-specialist__reg{
    max-width: 100%;
    margin: 0;
}
.modal-content .contact-specialist__inp {
    max-width: 100%;
}
.contact-specialist__textarea{
    margin-top: 15px;
    margin-bottom: 15px;
}
.contact-popup__title{
    font-size: 36px;
    font-family: 'LATO-BOLD';
    color: rgb(252, 182, 80);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 15px;
}
.contact-specialist__textarea textarea{
    background: unset;
    border: 1px solid rgba(255, 255, 255,0.561);
    width: 100%;
    height: 115px;
    font-size: 18px;
    font-family: 'LATO-LIGHT';
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    padding-left: 15px;
}

.contact-specialist__textarea textarea::placeholder{
    font-family: 'LATO-LIGHT';
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.2;
}
.modal-content  .contact-specialist__btn{
    width: 100%;
}
.modal-content  .contact-specialist__btn button{
    max-width: 100%;
}
.modal-content  .contact-specialist__btn button:after{
    content: url("../img/col-href89.png");
    top: 17px;
}





@media (max-width: 1170px){
    .feedback-customers__block {
        margin-top: 60px;
        flex-direction: column;
        align-items: center;
    }
    .feedback-customers__block:nth-child(even) {
        flex-direction: column;
    }
    .feedback-customers__text{
        margin-top: 20px;
    }
    .feedback-customers__text strong {
        display: block;
        text-align: center;
    }
    .feedback-customers__text p{
        text-align: center;
    }
    .feedback-customers {
        margin-top: 50px;
    }
}
@media (max-width: 768px){
    .feedback-customers__box .what-customers__revise strong {
        font-size: 16px;
    }
    .feedback-customers__text strong {
        font-size: 16px;
    }
    .feedback-customers__block {
        margin-top: 40px;
    }
    .feedback-customers__slider {
        margin-top: 35px;
    }
    .contact-popup__title {
        font-size: 30px;
    }
}
@media (max-width: 576px){
    .feedback-customers {
        margin-top: 30px;
    }
    .feedback-customers__block {
        margin-top: 30px;
    }
    .feedback-customers__box .what-customers__video {
        height: 250px;
    }
    .feedback-customers__box .what-customers__revise {
        margin-top: 15px;
    }
    .feedback-customers__text p {
        font-size: 16px;
        margin-top: 10px;
    }
    .feedback-customers__img {
        width: 131px;
        height: 120px;
        margin: 0 auto;
    }
    .feedback-customers__slider .slick-next {
        right: 30px;
    }
    .feedback-customers__slider .slick-prev {
        bottom: -61px;
        left: 30px;
    }
    .feedback-customers__slider {
        margin-top: 25px;
    }
    .contact-popup__title {
        font-size: 20px;
    }
    .close {
        top: 15px;
        right: 15px;
    }
    .contact-specialist__form {
        padding: 30px 15px;
        margin: 0;
    }
    .modal-content {
        padding: 50px 15px 30px 15px;
    }
    .contact-specialist__textarea textarea {

        height: 100px;
        font-size: 16px;

    }
}